<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Tech-BLog</title>
</head>
<body>
    <nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <h1 class="title is-1 has-text-danger ">Tech-Blog</h1>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true" class="has-text-danger "></span>
            <span aria-hidden="true" class="has-text-danger "></span>
            <span aria-hidden="true"class="has-text-danger "></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item ">
              Home
            </a>
      
            <a class="navbar-item ">
              DashBoard
            </a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary js-modal-trigger" data-target="modal-js-example1">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-primary js-modal-trigger signin-btn" data-target="modal-js-example">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
     <main>

<!-- {{!-- modal for sign in  --}} -->
      <div class="modal" id="modal-js-example">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Log in to Tech Blog</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
          <form>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="Email" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
            
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
            
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                  </label>
                </div>
              </div>
            
              <div class="field">
                <div class="control">
                  <button class="button is-link">Log in</button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>


     
<!-- modal for signup -->
<div class="modal" id="modal-js-example1">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Sign up to Tech Blog</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">


<form>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Name" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
      <input class="input" type="email" placeholder="Email" required>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" required>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Confirm Password</label>
    <div class="control has-icons-left">
      <input class="input" type="password" placeholder="Confirm Password" required>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link  signup-btn">Sign up</button>
    </div>
  </div>
</form>

</section>
        </div>
      </div>


        {{{body}}}

      
      </div>



        
     </main>






<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <script src="./script.js"></script>
    
</body>
</html>