    <div class="container">
    <form class="box login-form" method="POST" action="">


      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input id="email-login" name="email" class="input" type="email" placeholder="Enter your email" required>
        </div>
      </div>


      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input id="password-login" name="password" class="input" type="password" placeholder="Enter your password" required>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button id="submit-button" type="submit" class="button is-primary login">Log in</button>
        </div>
      </div>
    </form>
<div>

<script src="/js/login.js"></script>

