.navbar-item {
    color: #3ddc97; 
}
.button.is-primary {
    background-color: #e74c3c;
    color: #fff;
}
.button.is-light {
    border-color: #3ddc97;
    color: #3ddc97;
}



.hide{
    display: none;
}
